@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Index</PageTitle>
<div class="main-wrapper">
    <AuthorizeView>
        <Authorized>
            <RoomHub />
            <Header />
        </Authorized>
        <NotAuthorized>
            <Login />
        </NotAuthorized>
    </AuthorizeView>
</div>

