
.party-stats-inner-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 2em;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.party-stats-title {
    font-size: large;
    font-weight: bold;
}

.no-pokemon-stats-message{
    color: #646464;
    display: flex;
    justify-content: center;
    text-align: center;
}

.party-stats-icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.party-stats-icon{
    width: 18%;
    margin-bottom: .6em;
    display: flex;
    justify-content: center;
}

.party-stats-icon-party-defensively-open {
    outline: 2px solid red;
    border-radius: 50px;
}

.defense-icon {
    position:fixed;
    margin-top: 1.2em;
    background-color: white;
    height: 1.2em;
    width: 1.2em;
}

.positive-defense-icon {
    margin-left: -1em;
}

.party-stats-total {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
    width: 100%;
}

.party-stat-item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.party-stat-item-label {
    font-weight: bold;
}

.party-stat-item-value {
    font-size: x-large;
}

.party-stat-max-total {
    color: coral
}

.party-stat-min-total {
    color: cornflowerblue;
}

.party-stats-buttons{
    display: flex;
}

.party-stats-button {
    margin: 1em;
    padding: 1em;
    border-radius: 50px;
    width: 2em;
    height: 2em;
    background-color: #2F4562;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: x-large;
}

.party-stats-remove-button {
    background-color: indianred;
    color: white;
}

.party-stats-data-button {
    background-color: #2F4562;
    color: white;
}

.party-stats-button-disabled {
    background-color: #9E9E9E;
    color: white;
    cursor: default;
}

.type-covered-fade-out {
    animation-name: typeCoveredFadeOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.type-not-covered-fade-in {
    animation-name: typeNotCoveredFadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    pointer-events: none;
}

@keyframes typeCoveredFadeOut {
    0% {
        opacity: 1;
        transform: translateZ(0px);
    }

    100% {
        opacity: 0.4;
        transform: translateZ(500px);
    }
}

@keyframes typeNotCoveredFadeIn {
    0% {
        opacity: 0.4;
        transform: translateZ(500px);
    }

    100% {
        opacity: 1;
        transform: translateZ(0px);
    }
}