@page "/rooms"
@using Microsoft.AspNetCore.Authorization
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@attribute [Authorize]

<div class="rooms-header-title">
    <h3 class="rooms-header-title-text">Rooms</h3>
    <i class="bi bi-arrow-repeat refresh-button" @onclick=OnInitializedAsync></i>
</div>

<div class="room-list-with-form-wrapper">
    <div class="room-list-wrapper">
        @if (roomData.Any())
        {
            @foreach(var room in roomData)
            {
                <div class="room-row-wrapper" @onclick="() => HandleOnRoomConnect(room.Name)">
                    <div class="room-info-wrapper">
                        <h1>@room.Name</h1>
                        <h2>Users Connected: @room.UsersConnected</h2>
                    </div>
                    <div class="join-room-button-wrapper">
                        <i class="bi bi-chevron-double-right" />
                    </div>
                </div>
            }
        }
        else
        {
            <div class="no-rooms-message-wrapper">
                <h3>No rooms found...</h3>
            </div>
        }
    </div>
    <div class="create-room-form-wrapper">
        <span class="form-title">Create Room</span>
        <form class="create-room-form" @onsubmit="HandleAddRoom">
            <input type="text" class="create-room-input" @bind-value="newRoomName" placeholder="Room Name..."></input >
            <button type="submit" class="create-room-button">
                <i class="bi bi-plus-lg"/>
            </button>
        </form>
    </div>
</div>

