@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="body-wrapper">
    @if (ConnectionState.Value?.Connection is not null && ConnectionState.Value.Connection.State == Microsoft.AspNetCore.SignalR.Client.HubConnectionState.Connected)
    {
        @if (string.IsNullOrWhiteSpace(RoomState.Value?.RoomName))
        {
            <div class="rooms-component-wrapper">
                <Rooms />
            </div>
        }
        else
        {
            <Room />
        }
    }
    else
    {
        <div>
            <h2>No Connection Found...</h2>
        </div>
    }
</div>
