.header-items-wrapper{
    display: flex;
}

.header-tabs{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-divider{
    height: 100%;
    width: 1px;
    background-color: black;
}

.header-item {
    padding-left: 3em;
    padding-right: 3em;
    height: 100%;
    outline: 3px solid #9E9E9E;
    margin-left: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.selected-header-item {
    background-color: #9E9E9E;
    color: black;
}

.roomname-display-text {
    margin: 0px;
}

.username-display-text{
    margin: 0px;
}

.full-room-wrapper {
    width: 90%;
}

.main-room-wrapper {
    display: flex;
    height: 90vh;
    overflow: hidden;
    white-space: unset;
    flex-direction: row;
    padding: 20px;
    background-color: #212121;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
    margin-top: 1em;
}

.room-title-wrapper{
    margin-left: 2em;
    display: flex;
    flex-direction: column;
}

.party-stats-wrapper {
    width: 15vw;
    background-color: #121212;
    margin-top: -3em;
    margin-left: -1.2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 3em;
}

.party-stats-title{
    font-size: large;
    font-weight: bold;
}

.pokemon-header-body-wrapper {
    flex: 2;
}

.room-header-wrapper {
    margin-bottom: 1.5em;
    background-color: #121212;
    padding: 1em;
    margin-left: -2em;
    margin-top: -1.3em;
}

.chat-header-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #E0E0E0;
    height: 6em;
}

.pokemon-wrapper {
    flex: 2;
    display: flex;
    height: 100%;
}

.submit-button {
    background-color: #9E9E9E;
    color: white;
    height: 3.75em;
    margin-right: 1.3em;
    cursor: default;
}

.submit-button-active {
    background-color: #2F4562;
    color: white;
    height: 3.75em;
    margin-right: 1.3em;
}

.pokemon-search-wrapper {
    flex: 1;
}

.pokemon-search-form{
    display: flex;
    justify-content: space-between;
}

.pokemon-party-wrapper {
    
}

.typeahead-result-wrapper {
    color: black;
    text-align: center;
}

.typeahead-search-wrapper{
    text-align: center;
}

.chat-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: -1.3em;
    align-items: center;
    flex: .75;
    background-color: #9E9E9E;
    color: black;
    margin-top: -1.4em;
    height: 100%;
    padding-bottom: 2.8em;
}

.chat-window{
    width: 100%;
    height:100%;
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow-y: auto;
}

.message-send-form{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
    width: 100%;
    margin-bottom: -2.5em;
}

.no-party-message{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    color: #626262;
}

.send-message-box {
    width: 80%;
    text-align: left;
    padding: 12px;
}

.send-message-button {
    height: 80%;
    margin-top: .25em;
    margin-right: .5em;
    padding: 12px;
}

.message-wrapper {
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5em;
}

.message-sender{
    margin: 0em;
    font-weight: bold;
}

.message {
    width: auto;
    border-radius: 10px;
}

.message-incoming {
    border-bottom-left-radius: 0px;
    padding: 8px;
    background-color: white;
}

.message-sent {
    border-bottom-right-radius: 0px;
    padding: 8px;
    background-color: white;
}

.message-wrapper-incoming {
    align-items: flex-start;
}

.message-wrapper-sent {
    align-items: flex-end;
}

.manual-enter-pokesearch-form {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.manual-enter-pokesearch-input {
    background-color: #9E9E9E;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
    text-align: center;
    height: 1.65em;
    width: 80%;
    margin: 0em;
    font-size: x-large;
}

.manual-enter-pokesearch-button {
    height: 3.75em;
}

.typeahead-search-button-wrapper{
    display: flex;
    width: 100%;
}

h1{
    margin: 0em;
}

.party-card-name-wrapper {
    width: 100%;
    text-align: center;
    white-space: unset;
    text-overflow: ellipsis;
}

.pokemon-party-wrapper {
    width: 100%;
    height: 95%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: -2em;
}

.pokemon-card-options {
    background-color: #121212;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -5px;
    padding-right: 10px;
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.pokemon-card {
    background-color: #121212;
    padding: 5px;
    border-radius: 10px;
    width: 30%;
    height: 40%;
    margin-left: 1%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.pokemon-card-flex-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: grab;
    overflow: hidden;
}

.party-card-icons {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.party-card-img-wrapper {
    flex: 5;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit:scale-down;
    pointer-events: none;
}

.party-card-img {
    height: 100%;
    object-fit:cover;
}

.party-card-stats{
    flex: 3;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.party-card-stat-wrapper {
    display: flex;
    width: 33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.party-card-gender-icon-wrapper{
    font-size: x-large;
}